<div style="padding-left: 20px; margin-top: 20px">
  <ion-grid>
    <ion-row>
      <ion-fab-button size="small" (click)="GetPreviousMonth()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-fab-button>
      <ion-select selectedText="{{month}}" (ionChange)="calendarMonthChange($event)" style="width: 140px">
        <ion-select-option *ngFor="let month of AllMonths" value="{{month.name}}">{{month.name}}</ion-select-option>
      </ion-select>
      <ion-select selectedText="{{kzDate.getFullYear()}}" (ionChange)="calendarYearChange($event)">
        <ion-select-option *ngFor="let year of years" value="{{year.year}}">{{year.year}}</ion-select-option>
      </ion-select>
      <ion-fab-button size="small" (click)="GetNextMonth()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides pager="false" [options]="slidesOpts">
          <ng-container *ngFor="let date of AllDates; let i = index">
            <ion-slide *ngIf="minDate <= date.date && date.date <= maxDate">
              <div #element class="datec" (click)="onCalendarChange(date.date, element)">
                <h1>{{GetDate(date.date)}}</h1>
                <small class="bottom">{{GetDay(date.date)}}</small>
              </div>
            </ion-slide>
          </ng-container>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
